#accountPageContainer {
    padding-top: 5em;
}

#accountPageInfoAndWall {
    margin-left: 1.5em;
    min-height: 600px;
}

.accountName {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 20px;
    color: #5f5f5f;
}

.accountInfoHeader {
    color: rgb(120, 120, 120);
    width: 170px;
}

.accountInfoHeader, .accountInfoData {
    padding-bottom: 5px;
    text-align: justify;
    height: 23px;
}

.menu-label {
    margin-top: 2px;
}

#avatarContainer {
    margin-top: 0.73em;
}

#mainAvatar {
    border: 1px #dedede solid;
    border-radius: 3px;
    width: 300px;
}

#accountMenu {
    text-align: left;
    margin-top: 7px;
}

#accountMenu li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

#accountMenu a {
    color: #5f5f5f;
}

#accountMenu a:hover, #accountMenu a:active {
    background-color: #cfcfcf;
    color: #2e2e2e;
    transition-duration: 0.07s;
}

#postBtn {
    margin-top: 7px;
    width: 80px;
}

#addInfBtn {
    width: 100%;
    margin-bottom: 7px;
    margin-top: 7px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
}

#addInfBtn:hover {
    background-color: #e9e9e9;
    transition-duration: 0.4s;
}

#addInfBtn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#accountPageMainInformation {
    margin-top: 30px;
    margin-bottom: 5px;
}

#wallNewsTextArea {
    margin-top: 3em;
    width: 100%;
}

#accountWall {
    text-align: center;
    color: #ddd;
    margin: 30px;
}