#entityListMainForm {
    padding-top: 5em;
    margin-left: 7em;
}

#entity-list-menu {
    width: 12%;
    padding: 4px 0;
    margin-right: 1em;
}

.entity-avatar {
    height: 70px;
    width: 70px;
    display: inline-block;
    max-width: 100%;
    padding: 3px;
    margin-right: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.entity-element {
    border-top: 1px solid lightgrey;
}

.entity-subelement {
    padding: 3px 0;
}

.nav-pills > li > a {
    color: #5f5f5f;
    border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #1e1e1e;
    background-color: #cecece;
}

.acceptAndDeclineButton {
    margin-top: 1.6em;
    margin-right: -3.2em;
}

.sub-button, .sub-button:hover {
    padding-right: 3px;
    padding-left: 3px;
    width: 54px;
    text-decoration: none;
}

.entity-element-single-button {
    margin-top: 1.85em;
    margin-right: -1.1em;
}

.divider-line {
    border-top: 1px solid lightgrey;
}

.entity-label {
    margin-top: 2.44em;
}