body {
    color: #5f5f5f
}

#accountDataBlock, #groupDataBlock {
    margin-top: 5em;
}

#avatarBlock {
    font-size: 13px;
}

#avatarPreview {
    margin-top: 1em;
}

#commitBtn {
    width: 150px;
}

#addInf {
    height: 70px;
}

#avatarBlock, #personBlock, #contactsBlock, #phonesBlock, #groupBlock {
    margin-bottom: 10px;
}

#workPhonesBlock, #personalPhonesBlock {
    margin-bottom: 4px;
}

.deleteFieldButton {
    color: indianred;
    padding: 4px 0;
}

.deleteFieldButton:hover {
    color: darkred;
    text-decoration: none;
}

.addFieldButton {
    color: #4cb050;
    padding: 4px 0;
}

.addFieldButton:hover {
    color: green;
    text-decoration: none;
}

.form-group {
    margin-bottom: 7px;
}

.phone-group {
    margin-bottom: 5px;
}

.dataHeader {
    font-size: 12px;
    line-height: 1.2;
}

.xmlDropdownBtn, .xmlDropdownBtn :link, .xmlDropdownBtn :visited {
    text-align: center;
    text-decoration: none;
    color: #5f5f5f;
}

.xmlDropdownBtn :hover {
    color: #3f3f3f;
}