#groupPageContainer {
    padding-top: 5em;
}

#groupPageInfoAndWall {
    margin-right: 1.5em;
    min-height: 600px;
}

#groupWallTextArea {
    margin-top: 3em;
}

#groupWall {
    text-align: center;
    color: #ddd;
    margin: 30px;
}

#groupClosedWall {
    text-align: center;
    color: #ddd;
    margin: 30px;
}

#groupPageMainInformation {
    margin-top: 30px;
    margin-bottom: 5px;
}

#postBtn {
    margin-top: 7px;
    width: 75px;
}

#mainAvatar {
    width: 300px;
}

#groupMenu {
    text-align: left;
    margin-top: 7px;
}

#groupMenu li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

#groupMenu a {
    color: #5f5f5f;
}

#groupMenu a:hover, #groupMenu a:active {
    background-color: #cfcfcf;
    color: #2e2e2e;
    transition-duration: 0.07s;
}

#mainAvatar {
    border: 1px #dedede solid;
    border-radius: 3px;
}

.groupName {
    text-align: left;
    margin-left: 15px;
    color: #5f5f5f;
}

.groupInfoHeader {
    vertical-align: top;
    color: rgb(120, 120, 120);
    width: 90px;
    text-align: justify;
}

.groupInfoData {
    color: rgb(100, 100, 100);
    text-align: justify;
}

