#myHeader, #myNavbar a:visited {
    background-color: #5f5f5f;
    height: 3em;
    color: white;
    border-radius: 3px;
}

#myNavbar a:hover, #myNavbar a:active {
    background-color: #4cb050;
}

#headerIcon {
    height: 48px;
    margin-left: 0.5em;
    margin-top: 1px;
}

#headerDropDown {
    padding: 0.56em 0 0.4em 0;
}

#headerDropDownButton {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI Black', sans-serif;
}

.dropdown-menu > li > a {
    color: #5f5f5f;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active, #logout-button:hover, #logout-button.active {
    background-color: #5f5f5f;
    color: white;
}

#logout-button {
    padding-left: 20px;
    width: 158px;
    background: none;
    border: none;
    color: #5f5f5f;
}

/*///Autocomplete///*/

/*Autocomplete input box*/
/*input[type="text"], textarea {*/
#searchAutocomplete {
    background-color: #4c4c4c;
    color: white;;
    border-radius: 7px;
    height: 2.2em;
    box-shadow: none;
    margin-top: 2px;
    border: none;
}

#searchAutocomplete:focus {
    color: #5f5f5f;
    background-color: white;
    box-shadow: 0 0 3px white;
    border: none;
}

/*Autocomplete elements box*/
.ui-autocomplete {
    background: white;
    border-radius: 2px;
    border: #4c4c4c 1px solid;
}

/*Autocomplete elements*/
.ui-menu .ui-menu-item-wrapper {
    height: 43px;
    color: #5f5f5f;
    border-radius: 2px;
}

.ui-menu .ui-menu-item-wrapper:hover {
    height: 43px;
    background: #efefef;
    color: #5f5f5f;
    border-radius: 2px;
}

.autocomplete-avatar-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    max-width: 100%;
    padding: 1px;
    margin-top: -2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
}